*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    background-color: #ced6f0;
    padding: 8% 26%;
}

img{
    width: 4rem;
    padding-left: 82%;
}

body{
    background-color: white;
    border-radius: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 8%;
}

h1{
    font-size: 5rem;
    margin: 0;
}

h2{
    font-size: 2.2rem;
}

.welcome{
    color: #717578;
    font-size: 1.1rem;
}

h3{
    color: #4a4f53;
    font-size: 1.5rem;
}

input{
    width: 100%;
    height: 3.5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #b2b2b4;
}

.login{
    background-color: #367bf5;
    color: white;
    width: 102%;
    height: 3.5rem;
    border-radius: 5px;
    border-style: none;
    margin-top: 1.5rem;
    font-size: 1rem;
}